<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BAX 广告交易平台</title>
  <link rel="stylesheet" href="//file.baixing.net/bax-fe/asset/icon-font.css?d=9">
  <link rel="stylesheet" href="//file.baixing.net/bax-fe/static/element-chalk-2.1.0-1.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <main id="huodong"></main>
  <script src="/dist/huodong.js"></script>
</body>
</html>
