{
  "presets": [["@babel/preset-env", {"useBuiltIns": "usage", "modules": false}]],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", {"loose": true}],
    ["module-resolver", {
      "root": [],
      "alias": {
        "constant": "./constant",
        "config": "./config",
        "com": "./component",
        "base": "./base",
        "util": "./util",
        "api": "./api"
      }
    }],
    ["component", {
      "styleLibrary": "element-ui",
      "styleLibraryName": "~theme"
    }]
  ]
}
