{
  "presets": [
    ["env", {
      "targets": {
        "safari": 10,
        "firefox": 52,
        "chrome": 42,
        "edge": 15
      },
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": [],
      "alias": {
        "constant": "./constant",
        "config": "./config",
        "com": "./component",
        "api": "./api"
      }
    }]
  ]
}
