.placeHolder{
    height: 60px;
  }
    .bw-query-price{
        height: 100%;
    }
   .box-card{
       margin: 10px;
   }
   .submit{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: flex-end;
     margin-top: 30px;
      h3{
        font-size: 24px;
        color: #FF6350;
      }
   }
    /deep/ .lock-tips{
      margin-bottom: 10px;
      padding: 14px 16px;
      .el-alert__title{
        font-size: 14px;
      }
    }
    /deep/ .custom-2{
      li{
        width: 100%;
      }
    }
    /deep/ .custom-3{
      li{
        width: 100%;
      }
}

.submit-fixed{
    width: calc(100% - 220px);
    z-index: 3;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0 30px;
    box-sizing: border-box;
    box-shadow: 0px -6px 15px 0px rgba(83,95,127,0.15);
    position: fixed;
    bottom: 0;
    left: 190px;
    margin-bottom: 0;
}