.placeHolder{
    height: 60px;
  }
    .bw-query-price{
        height: 100%;
        // &_item{
        //   margin-bottom: 30px;
        // }
    }
   .box-card{
       margin: 10px;
   }
   .submit{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: flex-end;
     margin-top: 30px;
      h3{
        font-size: 24px;
        color: #FF6350;
        margin-bottom: 20px;
      }
   }
    /deep/ .lock-tips{
      margin-bottom: 10px;
      padding: 14px 16px;
      .el-alert__title{
        font-size: 14px;
      }
    }
    /deep/ .custom-2{
      li{
        width: 100%;
      }
    }
    /deep/ .custom-3{
      li{
        width: 100%;
      }
}