/* TODO 待整理，和项目内 Element 主题样式合并 */

/************************************** 按照设计规范产出的 CSS */

.page,
.page.view {
  margin: 16px;
  padding: 16px;
  /* TODO */
  /* min-height: calc(100% - 32px); */
  background-color: white;
}

.page > header {
  color: #444;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 9px;
  font-size: 16px;
  font-weight: bold;
}
.page > .page-section > header {
  color: #444;
  font-size: 14px;
  font-weight: bold;
}
.page .side-header {
  margin-left: 10px;
  font-size: 12px;
  font-weight: normal;
}

.statics {
  margin: 0 6px;
  padding: 2px 6px;
  background: #fff7eb;
  border: 1px solid #ff7d51;
  border-radius: 1px;
  font-size: 14px;
  color: #ff6350;
  text-align: center;
}

.form-warning {
  color: #ff6350;
  font-size: 14px;
  margin-top: 6px;
}

.success {
  color: #67c23a;
}
/* .info {
  color: #35A5E4;
} */
.tip {
  color: #ed7d00;
}
.ignore {
  color: #999999;
}
.warning {
  color: #ffa205;
}
.strong,
.error {
  color: #ff6350;
}

/**************************************************************** Transition */

.fold-by-height-enter-active,
.fold-by-height-leave-active {
  transition: all 0.3s ease;
}
.fold-by-height-enter,
.fold-by-height-leave-to {
  transform: translateY(-15px);
  opacity: 0;
}

/**************************************************************** ElementUI 修改 */

// TODO readme.md

// ？？？
.el-table {
  & /deep/ thead {
    color: #666;
  }
}

.el-table__body .is-leaf {
  height: 47px;
  line-height: 47px;
}

// 翻页
.el-pager .number {
  font-weight: normal;
}

/******************************************** el-dialog */

.el-dialog {
  border-radius: 14px;
  overflow: hidden;
}

.el-dialog /deep/ .el-dialog__header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 52px;
  line-height: 52px;
  background: #f9f9f9;
  font-size: 16px;
  font-weight: bold;
}

.el-dialog /deep/ .el-dialog__headerbtn {
  top: 16px;
}

/******************************************** el-pagination */

.el-pagination {
  & /deep/ span:not([class*="suffix"]) {
    font-size: 14px;
  }
  & /deep/ button {
    font-size: 14px;
  }
  & /deep/ .number {
    font-size: 15px;
    font-weight: normal;
  }
}

/******************************************** el-tabs */

.el-tabs {
  font-size: 14px;

  & /deep/ .el-tabs__header {
    margin-bottom: 20px;
  }
  & /deep/ .el-tabs__nav-wrap {
    &:after {
      display: none;
    }
  }
  & /deep/ .el-tabs__active-bar {
    height: 3px;
  }
}
