/************************************** 按照设计规范产出的 CSS */

.page,
.page.view {
  margin: 16px;
  padding: 16px;
  /* TODO */
  /* min-height: calc(100% - 32px); */
  background-color: white;
}

.page>header {
  color: #666;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
  font-weight: bold;
}

.statics {
  margin: 0 6px;
  padding: 2px 6px;
  background: #FFF7EB;
  border: 1px solid #FF7D51;
  border-radius: 1px;
  font-size: 14px;
  color: #FF6350;
  text-align: center;
}

.form-warning {
  color: #ff6350;
  font-size: 14px;
  margin-top: 6px;
}

.success {
  color: #67C23A;
}
.info {
  color: #35A5E4;
}
.tip {
  color: #ED7D00;
}
.ignore {
  color: #999999;
}
.error {
  color: #ff6350;
}

/**************************************************************** ElementUI 修改 */

// TODO readme.md

// ？？？
.el-table {
  & /deep/ thead {
    color: #666;
  }
}

.el-table__body .is-leaf {
  height: 47px;
  line-height: 47px;
}

// 翻页
.el-pager .number {
  font-weight: normal;
}

/******************************************** el-dialog */

.el-dialog {
  border-radius: 14px;
  overflow: hidden;
}

.el-dialog /deep/ .el-dialog__header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 52px;
  line-height: 52px;
  background: #f9f9f9;
  font-size: 16px;
  font-weight: bold;
}

.el-dialog /deep/ .el-dialog__headerbtn {
  top: 16px;
}

/******************************************** el-pagination */

.el-pagination {
  & /deep/ span:not([class*=suffix]) {
    font-size: 14px;
  }
  & /deep/ button {
    font-size: 14px;
  }
  & /deep/ .number {
    font-size: 15px;
    font-weight: normal;
  }
}
