
:root {
  --c-gray: #eef1f6;
  --c-tip-gray: #717d91;
  --c-main-blue: #20a0ff;
  /* 全网通 v4 */
  --qwt-c-orange: #ff7533;
  --qwt-c-yellow: #ffb74d;
  --qwt-c-blue: #15a4fa;
  --qwt-c-gray: #f4f4f4;
}
