:root {
  --c-gray: #eef1f6;
  --c-tip-gray: #717d91;
  --c-main-blue: #20a0ff;
  --c-success: #67c23a;
  --c-info: #35a5e4;
  --c-tip: #ed7d00;
  --c-ignore: #999;
  --c-warning: #ffa205;
  --c-strong: #ff6350;

  /* 搜索通 v4 */
  --qwt-c-orange: #ff7533;
  --qwt-c-yellow: #ffb74d;
  --qwt-c-blue: #15a4fa;
  --qwt-c-gray: #f4f4f4;

  /* 易慧推 */
  --border-base: 1px solid #dbdbdb;

  /* 双十一活动页 */
  --active-primary: #d12700;
  --active-white: #ffffff;
  --active-bg-btn: #ffe815;
  --active-border: #ffc200;
  --active-rules: #ff8d8d;
  --active-footer: #fcae24;
  --active-smaller: 12px;

  --font-large: 32px;
  --font-mid: 24px;
  --font-normal: 20px;
  --font-n-s: 18px;
  --font-small: 16px;
  --font-smaller: 12px;
}

/* 对定义的颜色变量做一个快捷方式。如果后续有兼容性需要，可以重构为 SCSS 变量 */

.c-success {
  color: var(--c-success);
}
.c-info {
  color: var(--c-info);
}
.c-tip {
  color: var(--c-tip);
}
.c-ignore {
  color: var(--c-ignore);
}
.c-warning {
  color: var(--c-warning);
}
.c-strong {
  color: var(--c-strong);
}
