/********************************************** Paddings */

$gap: 16px;
$gap-half: $gap / 2;

/********************************************** Colors */

$c-success: #67c23a;
$c-main: #ff6350;
$c-info: #35a5e4;
$c-tip: #ed7d00;
$c-ignore: #999;
$c-warning: #ffa205;
$c-strong: #ff6350;

/* 搜索通 v4 */
$qwt-c-orange: #ff7533;
$qwt-c-blue: #15a4fa;
$qwt-c-gray: #f4f4f4;

/* scope ?? */

$c-main-blue: #20a0ff;

/********************************************** Element Variables Override */

$--color-primary: #ff6350;
$--table-font-color: #666;
$--pagination-font-size: 14px;
$--tab-font-size: 14px;
