.ad-platform-dashboard{
    min-height: 100%;
    background: #fff;
    margin: 10px;
    box-sizing: border-box;
    .chart-content{
      margin-bottom: 30px;
    }
    .title{
        margin-bottom: 10px;
        .active{
         color: #C0C4CC;
        }
        span{
          cursor: pointer;
          margin-right: 20px;
        }
    }
}