.bw-plus-renew-upgrade {
    margin: 10px;
    background: #fff;
    padding: 0;
    > header {
      color: #666;
      border-bottom: 1px solid #e6e6e6;
      padding: 14px;
      font-size: 16px;
    }
}