<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>bax</title>
  <link rel="stylesheet" href="//adfe.wzbaixing.com.cn/bax-static.element-ui-v1.3.1.css">
  <link rel="stylesheet" href="//adfe.wzbaixing.com.cn/bax-static.bax.5d529ff604ab9d70d6.css">
</head>
<body>
  <main id="bax"></main>
  <script src="//adfe.wzbaixing.com.cn/bax-static.manifest.70dbdc74699446035b.js"></script>
  <script src="//adfe.wzbaixing.com.cn/bax-static.vendor.78b68a24b32487efd6.js"></script>
  <script src="//adfe.wzbaixing.com.cn/bax-static.bax.a1b98a9045216cdcab.js"></script>
</body>
</html>
