<!DOCTYPE html>
<html>
<head>
  <title>BAX 广告交易平台</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" href="//bax-static.baixingcdn.com/bax-asset.icon-font.css">
  <link rel="stylesheet" href="//bax-static.baixingcdn.com/bax-static.element-chalk-2.1.0.css">
  <link rel="stylesheet" href="//bax-static.baixingcdn.com/bax-static.bax.92e1cc7c9ed9c0bcad.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
  <script>
    Raven.config('http://57272e63e6164cf4ae01f3cd422bc418@sentry.baixing.cn/30').install()
  </script>
</head>
<body>
  <main id="bax"></main>
  <script src="//bax-static.baixingcdn.com/bax-static.vendor.014bf1c71841d76642.js"></script>
  <script src="//bax-static.baixingcdn.com/bax-static.bax.9c524a4459558243ef.js"></script>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?2379ff449e4e4a7461b5c3ca6a04288e";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</body>
</html>
