<!DOCTYPE html>
<html>
<head>
  <title>BAX 登录</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" href="//bax-static.baixingcdn.com/bax-static.element-chalk-2.1.0.css">
  <link rel="stylesheet" href="//bax-static.baixingcdn.com/bax-static.signin.e9325bf7e65f8f992f.css">
  <script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
  <script>
    Raven.config('https://0f07a69e62a44850a532ac60f57d19c4@sentry.app.baixingcdn.com//3').install()
  </script>
</head>
<body>
  <main id="signin"></main>
  <script src="//bax-static.baixingcdn.com/bax-static.vendor.014bf1c71841d76642.js"></script>
  <script src="//bax-static.baixingcdn.com/bax-static.signin.34986cb5c0fc7d88b9.js"></script>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?2379ff449e4e4a7461b5c3ca6a04288e";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</body>
</html>
