<!DOCTYPE html>
<html>
<head>
  <title>BAX 登录</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" href="//bax-static.baixingcdn.com/bax-static.element-1.4.4.css">
  <link rel="stylesheet" href="//bax-static.baixingcdn.com/bax-static.signin.69d5c24b91ed1f069a.css">
  <script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
  <script>
    Raven.config('https://0f07a69e62a44850a532ac60f57d19c4@sentry.app.baixingcdn.com//3').install()
  </script>
</head>
<body>
  <main id="signin"></main>
  <script src="//bax-static.baixingcdn.com/bax-static.manifest.a31ea8f7e8d7ffb392.js"></script>
  <script src="//bax-static.baixingcdn.com/bax-static.vendor.26fb026667b6b4f492.js"></script>
  <script src="//bax-static.baixingcdn.com/bax-static.signin.cda09e144732368a27.js"></script>
</body>
</html>
