<!DOCTYPE html>
<html>
<head>
  <title>BAX 登录</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" href="//file.baixing.net/bax-fe/static/element-chalk-2.1.0-1.css">
  <link rel="stylesheet" href="//file.baixing.net/bax-fe/static/signin.e9325bf7e65f8f992f.css">
  <script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
  <script>
    Raven.config('http://57272e63e6164cf4ae01f3cd422bc418@sentry.baixing.cn/30').install()
  </script>
</head>
<body>
  <main id="signin"></main>
  <script src="//file.baixing.net/bax-fe/static/vendor.5bf5ed935cb0b30951.js"></script>
  <script src="//file.baixing.net/bax-fe/static/signin.cb383fbc17dadb224e.js"></script>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?2379ff449e4e4a7461b5c3ca6a04288e";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</body>
</html>
