<!DOCTYPE html>
<html>
<head>
  <title>好消息！</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" href="//bax-static.baixingcdn.com/bax-static.element-chalk-2.1.0.css">
  <link rel="stylesheet" href="//bax-static.baixingcdn.com/bax-static.vt.921871d520439a9f75.css">
  <script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
  <script>
    Raven.config('https://0f07a69e62a44850a532ac60f57d19c4@sentry.app.baixingcdn.com//3').install()
  </script>
</head>
<body>
  <main id="tuoguan"></main>
  <script src="//bax-static.baixingcdn.com/bax-static.vendor.b94491a9bea32ec6c0.js"></script>
  <script src="//bax-static.baixingcdn.com/bax-static.vt.418e96fbd65a14686c.js"></script>
</body>
</html>
