<!DOCTYPE html>
<html>
<head>
  <title>好消息！</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" href="//bax-static.baixingcdn.com/bax-static.element-1.4.4.css">
  <link rel="stylesheet" href="//bax-static.baixingcdn.com/bax-static.vt.52d7fd050dd1b22400.css">
  <script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
  <script>
    Raven.config('https://0f07a69e62a44850a532ac60f57d19c4@sentry.app.baixingcdn.com//3').install()
  </script>
</head>
<body>
  <main id="tuoguan"></main>
  <script src="//bax-static.baixingcdn.com/bax-static.manifest.148bd5615756edfa51.js"></script>
  <script src="//bax-static.baixingcdn.com/bax-static.vendor.71e8ffc058ba02fa7a.js"></script>
  <script src="//bax-static.baixingcdn.com/bax-static.vt.d75a04bf0b258adaa9.js"></script>
</body>
</html>
