.product-wrapper{
    width: 200px;
    border: 1px solid #FA6A78;
    border-radius: 8px;
    box-sizing: border-box;
    margin-right: 20px;
    position: relative;
    height: 135px;
    cursor: pointer;
}
.mini-button{
    padding: 5px;
}
.product-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(180deg, #FFAD94 0%, #F95771 100%);
    padding: 7px 10px;
    font-family: PingFangSC-Medium;
    font-size: 13px;
    color: #FFFFFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    &-wrapper{
        display: flex;
        white-space: nowrap;
    }
    .hot-icon{
        width: 13px;
        height: 15px;
        background: url('../../../../../asset/hot-icon.png') no-repeat center/contain;
    }
}
.product-specification{
    padding: 0;
    display: flex;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #666666;
    padding: 16px 10px;
    border-bottom: 1px solid #FA6A78;
    height: 50px;
    li{
        display: flex;
        align-items: center;
        white-space: nowrap;
        &:not(:last-child){
            margin-right: 8px;
            &::after {
                display: inline-block;
                content: '';
                width: 1px;
                height: 80%;
                background: #666666;
                margin-left: 8px;
            }
        }
    }
}
.product-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .price-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .current-price{
        font-family: PingFangSC-Medium;
        font-size: 13px;
        color: #FF6350;
    }
    .origin-price{
        font-family: PingFangSC-Regular;
        font-size: 11px;
        color: #AAAAAA;
        text-decoration:line-through;
    }
}

    .product-checked{
        &::after {
            content: '';
            position: absolute;
            bottom: 0px;
            margin-bottom: -8px;
            right: -8px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #ff755a;
            background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cdefs%3E %3Ccircle id='path-1' cx='9' cy='9' r='9'%3E%3C/circle%3E %3C/defs%3E %3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg transform='translate(-840.200000, -440.200000)'%3E %3Cg transform='translate(231.000000, 351.000000)'%3E %3Cg transform='translate(383.000000, 0.000000)'%3E %3Cg transform='translate(229.000000, 92.000000)'%3E %3Cmask id='mask-2' fill='white'%3E %3Cuse xlink:href='%23path-1'%3E%3C/use%3E %3C/mask%3E %3Ccircle stroke='%23FFFFFF' stroke-width='3' cx='9' cy='9' r='10.9'%3E%3C/circle%3E %3Cpath d='M15.1825897,5.10610289 L15.270383,5.1771462 C15.5176407,5.41592024 15.5221862,5.81234159 15.2920079,6.05069827 L8.21929829,13.3747035 C7.98398364,13.6183789 7.59450525,13.624017 7.34552366,13.3835782 L7.31018198,13.345721 C7.30170601,13.3382661 7.29337514,13.330564 7.28519888,13.3226146 L3.20243916,9.35312536 C2.96168676,9.1190523 2.93454279,8.75228384 3.12705783,8.48573457 L3.161,8.445 L3.20137729,8.41142585 C3.46762902,8.21926922 3.84204075,8.23905634 4.08261162,8.4729529 L7.765,12.053 L14.3966083,5.18602099 C14.6057769,4.9694206 14.9367539,4.94089912 15.1825897,5.10610289 Z' fill='%23FFFFFF' mask='url(%23mask-2)'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 24px;
        }
    }
    .product-notAllowCheck{
        border: 1px solid #DDDDDD;
        .product-title{
            background: #BDBDBD;
        }
        .product-specification{
            color: #BDBDBD;
            border-bottom: 1px solid #DDDDDD;
        }
        .product-option{
            .current-price {
                color: #BDBDBD;
            }
            .origin-price{
                color: #AAAAAA;
            }
        }
    }